<h1>Log in Page</h1>
<p>If you're seeing this,
  it means that you've got git,
  ruby, bundler, and sqlite working
  properly. Nice job!</p>
<p>Here is some example
  dynamic content:
  <em><%= Time.now.to_s %></em></p>
<p>You can see an example of
  using a loop in an ERB file at
  <a href="/99bottles">/99bottles</a></p>

<form action='/' method='POST'>
  <strong>New Task:</strong>
  <input type='text' name='task' placeholder='task content' />
  <input type='text' name='date' placeholder='due date' />
  <input type='submit' value='Save'>
</form>
